@import "tailwindcss";

/* * {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 100%;
} */
