* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.light-mode {
  background-color: antiquewhite;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
