* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  height: 100vh;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.btn {
  padding: 10px;
  border-radius: 70px;
}
